body {
    background-color: #344a72;
    font-family: "Roboto", sans-serif;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    margin: auto;
    align-items: center;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    text-align: center;
    color: white;
}

button {
    font-size: 1rem;
    outline: none;
    border: none;
    text-decoration: none;
    padding: 10px 10px;
    margin-top: 1.8rem;
    width: 100%;
    border-radius: 20px;
    background-color:green ;
    transition: all 0.2s linear 0s;
    color: rgb(13, 85, 95);
}

button a {
    text-decoration: none;
    color: white;
}

button:hover {
    text-indent: -20px;
}